body{
    margin: 0;
}

.top-bar{
    background: #e9e9e9;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
    height: 40px;
}

.skyfallen-logo{
    display: inline-block;
}

.user-col-parent{
    display: inline-block;
    float: right;
    width: 800px;
    height: 20px;
    margin-top: 8px;
    margin-right: 20px;
    text-align: right;
}
.user-col {
    height: 100%;
    border: 0.4px solid #b7b7b7;
    display: inline-block;
    border-radius: 5px;
    background: #dedede;
    padding-left: 10px;
    padding-right: 10px;
    justify-items: center;
    justify-content: center;
    font-family: sans-serif,'Roboto';
    padding-top: 4px;
}

.user-col:hover {
    background: #e9e9e9;
}

h3{
    font-weight: lighter;
    font-size: small;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.skyfallen-logo-img {
    margin-top: 5px;
    height: 30px;
    display: inline-block;
}

.forms-overview{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    grid-auto-rows: 200px;
    justify-content: center;
    align-content: center;
    grid-gap: 20px;
}

.tile-parent {
    border-radius: 20px;
    margin: 20px;
    display: inline-block;
    background: #c8c6c6;
    height: 200px;
    width: 200px;
    position: relative;
}

.tile-parent:hover{
    background: #e9e6e6;
}

.tile-content-plus {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    justify-content: center;
    justify-items: center;
}

.tile-plus-txt{
    font-size: 300px;
    margin-top: -95px;
}

.error-msg{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 45px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border: 2px solid red;
    border-bottom: none;
    border-top: none;
    border-right: none;
    font-family: sans-serif,'Roboto';
    background-color: snow
}

#create-new-form-fields-data{
    margin-top: 80px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.tile-form-name{
    font-family: sans-serif, 'Roboto';
    font-size: 50px;
    word-wrap: break-word;
    hyphens: auto;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px 20px 0px 0px;
    border-bottom: none;
    height: 130px;
}

.tile-form-name-text{
    margin-top: -6px;
    padding: 10px;
}

.tile-form-creation-date{
    background-color: #d9d5d5;
    font-family: sans-serif, 'Roboto';
    font-weight: lighter;
    height: 70px;
    margin-top: -16px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

.trash-form {

    float: right;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid gray;
    background: gray;

}

.trash-form-icon{

    padding-top: 7px;

}