body {

    font-family: 'Oxygen', sans-serif;
    margin: 0;
    background: #f8f7f7;
    scroll-behavior: smooth;

}
@media only screen and (max-width: 840px){

    .form-wrapper {
        width: 100% !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        border: none !important;
        background: transparent !important;
        min-height: initial !important;
    }

    .form-title-container{
        width: 100% !important;
    }

    .std-textinput {
        width: 95% !important;
        min-height: 5px !important;
    }

    .std-select {
        width: 95% !important;
        min-height: 5px !important;
    }

    .std-textarea{

        width: 95% !important;
        min-height: 5px !important;

    }

}

@media only screen and (min-width: 840px) {
    .std-textinput {
        width: 550px !important;
        margin: 6px auto 30px auto;
    }

    .std-select {
        width: 550px !important;
        margin: 6px auto 30px auto;
    }

    .std-textarea {
        min-width: initial !important;
        width: 550px !important;
        resize: none !important;
        margin: 6px auto 30px auto;
    }
}

.swal-modal {

    background-color: #f1d4d4;
    border: 3px solid white;
    font-family: sans-serif, 'Roboto';

}

.submitparent {

    width: 100%;
    padding-top: 20px;
    text-align: left;

}

.form-wrapper{

    width: 550px;
    background: #f8f7f7;
    padding-top: 50px;
    font-family: sans-serif, 'Roboto';
    margin: 30px auto 100px auto;
}

.form-title-container {
    width: 100%;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
}

.form-title-hdg{

    padding: 20px 20px 5px;
    font-size: 30px;
    bottom: 0;
    display: block;
    font-family: 'Oxygen', sans-serif;

}

#responded{

    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;

}

.required-label::after{

    content: "*";
    color: red;

}

.hidden {

    display: none;

}

.form-footer{

    background: #ffffff;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.footer-logo {

    height: 75px;

}

.form-description{

    font-family: Oxygen;
    margin: 20px;
    line-height: 20px;
    padding-bottom: 20px;

}

a {

    color: #205ef5;
    font-weight: bold;

}

a:visited {

    color: #205ef5;
    font-weight: bold;

}