body {

    display: flex;
    justify-items: center;
    justify-content: center;

}

@media only screen and (max-width: 840px){

    .editor-wrapper {
        width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        border: none !important;
        background: transparent !important;
        min-height: initial !important;
    }

    .form-title-container{
        width: 100% !important;
        border-radius: 0 !important;
    }

    .field-type-select {

        width: 100% !important;

    }

    .std-textinput {
        width: 100% !important;
    }

    .std-textarea {
        min-width: initial !important;
        width: 100% !important;
        resize: none !important;
    }

    .std-select {
        width: 100% !important;
    }

}

.swal-modal {

    background-color: #f1d4d4;
    border: 3px solid white;
    font-family: sans-serif, 'Roboto';

}

.editor-wrapper{

    /* TODO: Fix alignment later when using
    width: 50%; */
    width: 800px;
    min-height: 80%;
    border: 1px solid #d9d5d5;
    border-radius: 0px 0px 20px 20px;
    margin-top: 250px;
    background: snow;
    margin-bottom: 100px;
    padding-bottom: 30px;

}

.form-title-container {

    margin-top: 50px;
    /* TODO: Fix alignment later when using
    width: 50%; */
    width: 800px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background: #f1d4d4;
    border: 1px solid #f1d4d4;
    border-bottom: 1px solid pink;
    position: absolute;

}

.form-title-hdg{

    padding-left: 20px;
    font-size: 100px;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    padding-bottom: 0;
    display: block;

}

.hovering-controls{

    top: 50px;
    right: 30px;
    position: fixed;
    text-align: center;
    display: block;
    width: 45px;
    height: 275px;
    background-color: snow;
    border-radius: 20px;
    border: 1px solid #dbc6c6;
    padding-top: 10px;
    box-shadow: 3px 3px 3px 3px #d9d8d8;
    z-index: 100;

}

.hover-ctrl-btn {

    border: none;
    background-color: #e5c4c4;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    color: #ac7676;
    font-size: 30px;
    padding: 0;

}

.hover-ctrl-btn:hover {

    border: none;
    background-color: #b7afaf;
    border-radius: 20px;
    height: 40px;
    width: 40px;

}

.hover-ctrl-btn:focus {

    outline: none;
    color: white;

}

.field-container{

    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    background: #a79898;
    border: none;
    border-radius: 20px;

}


.field-label-selector{

    border-radius: 20px 20px 0px 0px;
    background-color: #948888;
    padding: 10px;

}

.field-type-select {

    width: 20%;
    display: inline;

}

.field-label-input{

    width: 60%;
    display: inline;

}

.field-label-domlabel{

    color: white;
    border-bottom: 1px solid white;
}

.preview-label-explanation{

    line-height: 0px;
    padding-top: 5px;
    padding-left: 10px;
    font-family: sans-serif, 'Roboto';
    font-size: 20px;
    width: 100%;

}

hr {

    color: white;

}

.field-preview-selector {

    padding: 20px;

}

.trash-field {

    border: none;
    background-color: #e5c4c4;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    color: #ac7676;
    font-size: 30px;
    padding: 0;
    float: right;
    display: inline;
    margin-top: -22.5px;
    margin-right: 20px;

}

.trash-field:hover {

    border: none;
    background-color: #b7afaf;

}

.trash-field:focus {

    outline: none;
    color: white;

}

.isrequiredlabel{

    color: #670b0b;
    font-size: 20px;
    font-family: sans-serif, 'Roboto';

}

.text-right{

    width: 100%;
    text-align: right;

}

.settings-modal{

    height: 600px;
    width: 800px;
    position: fixed;
    top: 50%;
    margin-top: -300px;
    z-index: 200;
    background: #eee8e8;
    border-radius: 20px;
    display: none;

}

.modal-top{

    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid gray;
    height: 30px;
    text-align: right;
    padding: 10px 10px 10px 0px;

}

.close-modal{

    font-family: sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: black;

}

.close-modal:hover {

    color: grey;

}

.modal-tabs{

    width: 200px;
    border-right: 0.1px solid black;
    display: inline-block;
    height: 549px;

}

.modal-tab-content {

    display: inline-block;

}

.modal-tab{

    height: 50px;
    width: 200px;
    margin-bottom: 2px;

}

.modal-tab-button {

    border: none;
    width: 199px;
    height: 50px;
    font-size: 20px;
    background: #f8f6f6;

}

.modal-tab-button:focus{

    outline: none;

}

.span-spacer{

    margin-left: 10px;

}

.modal-tab-each{

    width: 100%;
    margin-top: -50px;
    position: fixed;

}