body {

    font-family: 'Oxygen', sans-serif;
    margin: 0;
    background: #f8f7f7;
    scroll-behavior: smooth;

}

@media only screen and (max-width: 840px){

    .form-wrapper {
        width: 100% !important;
        margin-right: 10px !important;
        margin-left: 10px !important;
        border: none !important;
        background: transparent !important;
        min-height: initial !important;
    }

    .form-title-container{
        width: 100% !important;
    }

    .std-textinput {
        width: 95% !important;
        min-height: 5px !important;
    }

    .std-select {
        width: 95% !important;
        min-height: 5px !important;
    }

    .std-textarea{

        width: 95% !important;
        min-height: 5px !important;

    }

}

@media only screen and (min-width: 840px) {
    .std-textinput {
        width: 550px !important;
        margin: 6px auto 30px auto;
    }

    .std-select {
        width: 550px !important;
        margin: 6px auto 30px auto;
    }

    .std-textarea {
        min-width: initial !important;
        width: 550px !important;
        resize: none !important;
        margin: 6px auto 30px auto;
    }
}

.swal-modal {

    background-color: #f1d4d4;
    border: 3px solid white;
    font-family: sans-serif, 'Roboto';

}

.submitparent {

    width: 100%;
    padding-top: 20px;
    text-align: left;

}

.form-wrapper{

    width: 550px;
    background: #f8f7f7;
    padding-top: 50px;
    font-family: sans-serif, 'Roboto';
    margin: 30px auto 100px auto;
}

.form-title-container {
    width: 100%;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
}

.form-title-hdg{

    padding: 20px;
    font-size: 30px;
    bottom: 0;
    display: block;
    font-family: 'Oxygen', sans-serif;

}


.respondent-selector{

    width: 800px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;

}

.std-blockcenter{

    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    display: inline !important;

}

.nextprev-btn {

    border: none;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    color: #000000;
    font-size: 20px;
    padding: 0;
    display: inline;
    border: 3px solid #0d50ee;

}

.nextprev-btn:hover{

    border: 3px solid #094ef1;

}

.nextprev-btn:focus {

    outline: none;
    border: 3px solid #004bff;

}

.encryption-standard-container{

    border-radius: 20px;
    height: 30px;
    width: 100%;
    background: #f3f3f3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    margin-bottom: 20px;

}

.exporting-notification{

    padding: 0;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    background: white;
    bottom: 30px;
    right: 20px;
    position: fixed;
    box-shadow: 0px 1px 5px 1px #d0f0ff;

}

.exporting-notification-text{

    margin-top: 5px;

}