body{
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .left-col{
        display: none !important;
    }
    .right-col {
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
    }
    #mainform {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}

.left-col{
    height: 100%;
    width: 70%;
    display: inline-block;
    float: left;
}

.right-col{
    height: 100%;
    width: 30%;
    display: inline-block;
}

.skyfallen-logo{
    margin-top: 30%;
    text-align: center;
}

.skyfallen-logo-img{
    height: 80px;
}

#mainform{
    text-align: center;
    margin-top: 10%;
}

.std-input {
    border-radius: 3px;
    border: 2.5px solid #dedede;
    line-height: 50px;
    height: 50px;
    width: 400px;
    margin-top: 10px;
    padding-left: 5px;
    font-size: large;
}

.std-input:focus{
    outline: none;
}

.std-submit{
    margin-top: 50px;
    height: 40px;
    width: 90px;
    background: black;
    color:white;
    font-size: medium;
    border-radius: 15px;
    border: none;
}

.std-submit:focus{
    outline: none;
}

.std-submit:hover{
    background: #2b2b2b;
}

.error-msg{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 45px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border: 2px solid red;
    border-bottom: none;
    border-top: none;
    border-right: none;
    font-family: sans-serif,'Roboto';
    background-color: snow
}