.std-textinput {
    display: block;
    height: 35px;
    width: 350px;
    border: 2px solid #ddd5d5;
    border-radius: 5px;
    line-height: 30px;
    padding: 5px;
    font-size: 18px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
}

.std-textinput:hover{
    border: 2px solid #c3bebe;
}

.std-textinput:focus{
    outline: none;
    border: 3px solid #648ef1;
    background: #ffffff;
}

.std-textarea {
    display: block;
    height: 35px;
    width: 350px;
    border: 2px solid #ddd5d5;
    border-radius: 5px;
    line-height: 30px;
    padding: 5px;
    font-size: 18px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
    min-width: 400px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
    font-family: inherit;
}

.std-textarea:hover{
    border: 2px solid #c3bebe;
}

.std-textarea:focus{
    outline: none;
    border: 3px solid #648ef1;
    background: #ffffff;
}


.std-inputsubmit{
    padding: 6px 15px 6px 15px;
    font-size: 18px;
    color: #ffffff;
    background: #3970ef;
    border: none;
    border-radius: 5px;
    line-height: 30px;
    font-weight: 100;
    -webkit-appearance: none;
}

.std-inputsubmit:hover{
    background: #205ef5;
}

.std-inputsubmit:focus{
    background: #0e55ff;
    outline: none;
}

.std-label{
    font-size: 20px;
    /* font-family: sans-serif;*/
    padding-right: 10px;
    /* border-bottom: 2px solid #777777;*/
    color: #292929;
    font-weight: 500;
}

.std-select{
    display: block;
    height: 35px;
    width: 400px;
    border: 2px solid #ddd5d5;
    border-radius: 5px;
    line-height: 30px;
    padding-left: 5px;
    font-size: 18px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-appearance:none;
}

.std-select:hover{
    border: 2px solid #c3bebe;
}

.std-select:focus{
    outline: none;
    border: 3px solid #648ef1;
    background: #ffffff;
}

.std-checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.std-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.std-checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.std-checkbox-container input:checked ~ .checkmark {
    background-color: #00477e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.std-checkbox-container input:checked ~ .checkmark:after {
    display: inline-block;
}

/* Style the checkmark/indicator */
.std-checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}