.std-textinput {
    display: block;
    height: 35px;
    width: 400px;
    border: 2px solid #808080;
    border-radius: 5px;
    line-height: 30px;
    padding: 5px;
    font-size: 18px;
    color: #9b9b9b;
    background: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
}

.std-textinput:hover{
    background: #d0d0d0;
}

.std-textinput:focus{
    outline: none;
    border: 2px solid #474747;
    background: #ffffff;
    color: #4f4f4f;
}

.std-textarea {
    display: block;
    height: 35px;
    width: 400px;
    border: 2px solid #808080;
    border-radius: 5px;
    line-height: 30px;
    padding: 5px;
    font-size: 18px;
    color: #9b9b9b;
    background: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 400px;
    min-height: 200px;
    max-width: 100%;
    max-height: 100%;
}

.std-textarea:hover{
    background: #d0d0d0;
}

.std-textarea:focus{
    outline: none;
    border: 2px solid #474747;
    background: #ffffff;
    color: #4f4f4f;
}


.std-inputsubmit{
    height: 35px;
    font-size: 18px;
    color: #777777;
    background: #efefef;
    border: 2px solid gray;
    border-radius: 5px;
    line-height: 30px;
    font-weight: 100;
}

.std-inputsubmit:hover{
    background: #a4a4a4;
    color: white;
}

.std-inputsubmit:focus{
    background: grey;
    color: white;
    outline: none;
}

.std-label{
    font-size: 20px;
    font-family: sans-serif;
    padding-right: 10px;
    border-bottom: 2px solid #777777;
    color: #5f5f5f;
    font-weight: normal;
}

.std-select{
    display: block;
    height: 35px;
    width: 400px;
    border: 2px solid gray;
    border-radius: 5px;
    line-height: 30px;
    padding: 5px;
    font-size: 18px;
    color: #9b9b9b;
    background: #efefef;
    margin-top: 10px;
    margin-bottom: 10px;
}

.std-select:hover{
    color: black;
    background: #d0d0d0;
}

.std-select:focus{
    outline: none;
}

.std-checkbox {

    height: 20px;
    width: 20px;
    border: 2px solid saddlebrown;

}